.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    position: fixed;
    flex-direction: column;
    right: -100%;
    top: 20px;
    transition: right 0.3s;
}

.nav-links.active {
    right: 0;
    top: 20px;
}

.hamburger {
    display: block;
}