@import './styles/utilities/text-presets.css';
@import './styles/variables/colors.css';
@import './styles/variables/spacing.css';
@import './styles/variables/typography.css';

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

span {
    display: block;
}

/* Body */
body {
    font-family: var(--font-barlow);
    background-color: var(--color-dark-blue-900);
    color: var(--color-white);
}